<header>
  <nav>
    <a href="/">Charles' Prime Picks</a>
    <ul>
      <li>
        <a href="/movies">All Movies</a>
      </li>
      <li>
        <a href="/movies/new">Add Movie</a>
      </li>
    </ul>
  </nav>
</header>