<header>
  <nav class="header-nav">
    <a class="header-title" href="/ "
      ><img class="logo" src="../images/logo.png" alt="logo" />
    </a>
    <ul>
      <li class="header-link">
        <a href="/movies">All Movies</a>
      </li>
      <li class="header-link">
        <a href="/movies/new">Add Movie</a>
      </li>
      <li class="header-link">
        <a href="/tvshows">All TV Shows</a>
      </li>
      <li class="header-link">
        <a href="/tvshows/new">Add TV Show</a>
      </li>
      <li class="header-link">
        <a href="/actors">All Actors</a>
      </li>
    </ul>
  </nav>
</header>
