<label for="imdbID">imdb ID</label>
<input type="text" name="imdbID" value="<%= tvshow.imdbID %>">
<label for="rating">Rating out of a 100</label>
<input type="number" name="rating" value="<%= tvshow.rating %>" min="0" max="100">
<label>Review</label>
<input type="text" name="review" value="<%= tvshow.review %>">
<label>Seasons watched</label>
<input type="text" name="seasonWatched" value="<%= tvshow.seasonWatched %>">

