<h2>Search Actors</h2>
<form action="/actors" methode="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% actors.forEach(actor => { %> 
<div>
  <br>
  <a href="actors/<%= actor.id %>"><%= actor.name %></a>
</div>
<% }) %>