<h2 class="page-header">Search Actors</h2>
<form action="/actors" methode="GET">
  <input
    type="text"
    name="name"
    value="<%= searchOptions.name %>"
    placeholder="Name (e.g. Robert Downey Jr.)"
    class="input search-input"
  />
  <button class="btn-primary search-btn" type="submit">Search</button>
</form>
<div class="show-all-actors">
  <% actors.forEach(actor => { %>
  <a class="actor-name" href="actors/<%= actor.id %>"><%= actor.name %></a>
  <% }) %>
</div>
