<h2 class="page-header">Search Actors</h2>
<form action="/actors" methode="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button class="btn btn-primary" type="submit">Search</button>
</form>
<br />
<% actors.forEach(actor => { %>
<div>
  <br />
  <a href="actors/<%= actor.id %>"><%= actor.name %></a>
</div>
<% }) %>
