:root {
  --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 70%);
  --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 60%);
  --color-btn-primary-text-dark: hsl(var(--color-base-hue), 100%, 10%);
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-border: black;
  --color-btn-danger-text: black;
  --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 70%);
  --color-btn-danger-text-dark: black;
  --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 60%);
}
.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Noto Sans";
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background);
  font-family: "Noto Sans";
}

.btn-primary:hover {
  color: var(--color-btn-primary-text-dark);
  background-color: var(--color-btn-primary-background-dark);
  font-family: "Noto Sans";
}

.btn-danger:hover {
  color: var(--color-btn-danger-text-dark);
  background-color: var(--color-btn-danger-background-dark);
}

.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-background);
}

.btn-row {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.search-btn {
  border-radius: 5px;
}

.rand-show-btn {
  width: 5rem;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: solid;
  border-color: var(--color-btn-primary-background-dark);
  background-color: var(--color-btn-primary-background);
}
.rand-show-btn:hover {
  filter: brightness(120%);
}

.rand-show-btn > * {
  width: 5rem;
  justify-content: center;
}
